<div class="dropdown">
  <button class="btn btn-secondary" type="button" id="dropdownMenuButton"
  data-toggle="dropdown" {{action 'test'}}>
    <i class="fas fa-ellipsis-v"></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
