{{#light-table table height='65vh' as |t|}}
  {{t.head
    fixed=true
  }}

  {{#t.body
    canExpand=true
    multiRowExpansion=false
    as |body|
  }}
    {{#body.expanded-row as |row|}}
      {{model-table-row-preview row=row}}
    {{/body.expanded-row}}

    {{#if isLoading}}
     {{#body.loader}}
       {{table-loader}}
     {{/body.loader}}
   {{/if}}
  {{/t.body}}
{{/light-table}}
