.model-table {
  font-size: 14px;

  .lt-column {
      padding: 20px 30px;
  }

  .lt-row {
    border: 1px solid #ccc;

    td {
      padding: 15px;

      &:nth-child(1) {
        border-right: 1px #ccc solid;
        border-left: 1px transparent solid;
        border-top: 1px transparent solid;
        border-bottom: 1px transparent solid;
      }
    }
  }
}
