.model-table-row-preview {
  $spacing-base: 10px;
  position: relative;
  left: 15%;

  .expandable-list-items {
    list-style: none;

    .expandable-list-item {
      margin: $spacing-base;
      position: relative;

      a {
        display: flex;
        border-radius: 100%;
        background: blue;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
